<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Smart Control</title>

    <link href="assets/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/azia.min.css">
</head>
<body>
<div class="az-header">
    <div class="container">
        <div class="az-header-left">
            <a href="index.html" class="az-logo" data-header-logo>smart control</a>
        </div>

        <div class="az-header-menu">
            <ul class="nav">
                <li class="nav-item ">
                    <a href="index.html" class="nav-link" data-header-link-index>Control point management</a>
                </li>
                <li class="nav-item active">
                    <a href="access.html" class="nav-link" data-header-link-access>Access groups</a>
                </li>
                <li class="nav-item ">
                    <a href="staff.html" class="nav-link" data-header-link-staff>Staff management</a>
                </li>
                <li class="nav-item ">
                    <a href="logging.html" class="nav-link" data-header-link-logging>Logging and analytics</a>
                </li>
            </ul>
        </div>

        <div class="az-header-right">
            <div class="dropdown az-profile-menu">
                <a href="#" class="az-img-user" data-header-user>
                    <img src="assets/images/avatar.jpg" alt="John Doe">
                </a>

                <div class="dropdown-menu ">
                    <div class="az-dropdown-header d-sm-none">
                        <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                    </div>
                    <div class="az-header-profile">
                        <div class="az-img-user" data-header-user-image>
                            <img src="assets/images/avatar.jpg" alt="John Doe">
                        </div>
                        <h6 data-header-user-name>John Doe</h6>
                    </div>

                    <a href="page-signin.html" class="dropdown-item" data-header-signout>
                        <i class="fas fa-sign-out-alt"></i> Sign Out
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="az-content az-content-dashboard">
    
<div class="container">
        <div class="az-content-body">
            <div class="az-dashboard-one-title">
                <div>
    <h2 class="az-dashboard-title" data-page-title>Access Groups</h2>
    <p class="az-dashboard-text" data-page-description>Here you can manage your access groups.</p>
</div>

                <div class="az-content-header-right">
                    <button class="btn btn-outline-primary">Create new group</button>
                </div>
            </div>

            <table class="table table-bordered">
    <thead>
    <tr>
        <th class="wd-5p">
            <label class="ckbox" data-apttr-checkbox>
                <input type="checkbox"><span></span>
            </label>
        </th>
        <th>Name</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <label class="ckbox" data-aptr-checkbox>
                <input type="checkbox">
                <span></span>
            </label>
        </td>
        <td data-aptc-name>Workers</td>
        <td class="wd-20p text-right">
            <button class="btn btn-sm btn-success" data-aptb-manage>Manage</button>
        </td>
    </tr>
    <tr>
        <td>
            <label class="ckbox" data-aptr-checkbox>
                <input type="checkbox">
                <span></span>
            </label>
        </td>
        <td data-aptc-name>Technical support</td>
        <td class="wd-20p text-right">
            <button class="btn btn-sm btn-success" data-aptb-manage>Manage</button>
        </td>
    </tr>
    <tr>
        <td>
            <label class="ckbox" data-aptr-checkbox>
                <input type="checkbox">
                <span></span>
            </label>
        </td>
        <td data-aptc-name>Cleaning service</td>
        <td class="wd-20p text-right">
            <button class="btn btn-sm btn-success" data-aptb-manage>Manage</button>
        </td>
    </tr>
    <tr>
        <td>
            <label class="ckbox" data-aptr-checkbox>
                <input type="checkbox">
                <span></span>
            </label>
        </td>
        <td data-aptc-name>Security</td>
        <td class="wd-20p text-right">
            <button class="btn btn-sm btn-success" data-aptb-manage>Manage</button>
        </td>
    </tr>
    <tr>
        <td>
            <label class="ckbox" data-aptr-checkbox>
                <input type="checkbox">
                <span></span>
            </label>
        </td>
        <td data-aptc-name>Guests</td>
        <td class="wd-20p text-right">
            <button class="btn btn-sm btn-success" data-aptb-manage>Manage</button>
        </td>
    </tr>
    </tbody>
</table>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade show">
    <div class="modal-content">
        <div class="mb-4 d-flex justify-content-between align-items-center">
            <h2 class="mb-0" data-modal-title>Creating a new Access Group</h2>

            <button class="close" data-modal-close>
                <i class="fa fa-times"></i>
            </button>
        </div>

        <form action="#">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter the name of the access group" data-m1-input>
            </div>

            <button class="btn btn-success w-100" data-m1-button>Create access group</button>
        </form>
    </div>
</div>
<div class="modal-backdrop show"></div>
<!-- / Modal -->

</body>
</html>
