<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Smart Control</title>

    <link href="assets/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/azia.min.css">
</head>
<body>

<div class="vh-100 d-flex align-items-center">
    <div class="row w-100">
        <div class="col-4 mx-auto">
            <div class="card">
                <div class="card-body p-5">
                    <h1 class="az-logo mb-5">Smart control</h1>

                    <div class="mb-5">
                        <h4 class="mb-4">Please sign up to continue</h4>

                        <form action="signin.html">
                            <div class="d-flex justify-content-between">
                                <div class="form-group w-100 pr-2">
                                    <input type="text" class="form-control is-invalid"
                                           placeholder="Enter your full name" data-finp-name>
                                    <span class="invalid-feedback" data-em-name>Error message</span>
                                </div>
                                <div class="form-group w-100 pl-2">
                                    <input type="text" class="form-control is-invalid" placeholder="Enter your login" data-finp-login>
                                    <span class="invalid-feedback" data-em-login>Error message</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="form-group w-100 pr-2">
                                    <input type="password" class="form-control" placeholder="Enter your password" data-finp-password>
                                    <span class="invalid-feedback" data-em-password>Error message</span>
                                </div>
                                <div class="form-group w-100 pl-2">
                                    <input type="password" class="form-control" placeholder="Confirm your password" data-finp-password2>
                                    <span class="invalid-feedback" data-em-password2>Error message</span>
                                </div>
                            </div>

                            <button class="mt-4 btn btn-az-primary btn-block" data-signup-btn>Sign Up</button>
                        </form>
                    </div>

                    <div class="az-signin-footer">
                        <p>Already have an account? <a href="signin.html" data-signup-link-signin>Sign In</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
