<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Smart Control</title>

    <link href="assets/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/azia.min.css">
</head>
<body>
<div class="az-header">
    <div class="container">
        <div class="az-header-left">
            <a href="index.html" class="az-logo" data-header-logo>smart control</a>
        </div>

        <div class="az-header-menu">
            <ul class="nav">
                <li class="nav-item ">
                    <a href="index.html" class="nav-link" data-header-link-index>Control point management</a>
                </li>
                <li class="nav-item ">
                    <a href="access.html" class="nav-link" data-header-link-access>Access groups</a>
                </li>
                <li class="nav-item active">
                    <a href="staff.html" class="nav-link" data-header-link-staff>Staff management</a>
                </li>
                <li class="nav-item ">
                    <a href="logging.html" class="nav-link" data-header-link-logging>Logging and analytics</a>
                </li>
            </ul>
        </div>

        <div class="az-header-right">
            <div class="dropdown az-profile-menu">
                <a href="#" class="az-img-user" data-header-user>
                    <img src="assets/images/avatar.jpg" alt="John Doe">
                </a>

                <div class="dropdown-menu ">
                    <div class="az-dropdown-header d-sm-none">
                        <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                    </div>
                    <div class="az-header-profile">
                        <div class="az-img-user" data-header-user-image>
                            <img src="assets/images/avatar.jpg" alt="John Doe">
                        </div>
                        <h6 data-header-user-name>John Doe</h6>
                    </div>

                    <a href="page-signin.html" class="dropdown-item" data-header-signout>
                        <i class="fas fa-sign-out-alt"></i> Sign Out
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="az-content az-content-dashboard">
    
<div class="container">
    <div class="az-content-body">
        <div class="az-dashboard-one-title">
            <div>
    <h2 class="az-dashboard-title" data-page-title>Staff management</h2>
    <p class="az-dashboard-text" data-page-description>Manage your employees.</p>
</div>

            <div class="az-content-header-right">
                <button class="btn btn-outline-primary" data-staff-add>Add new employee</button>
            </div>
        </div>

        <div class="mb-4">
    <input type="text" placeholder="Enter the name of the employee to search" class="form-control" data-staff-search>
</div>

        <div class="row" data-staff-cards>
    <div class="col-2 mb-4">
        <div class="card">
            <img src="assets/images/john-doe.jpg" alt="John Doe" class="card-img-top" data-staff-image>
            <div class="card-body">
                <h5 class="card-title mb-0" data-staff-name>John Doe</h5>
            </div>
        </div>
    </div>
    <div class="col-2 mb-4">
        <div class="card">
            <img src="assets/images/john-doe.jpg" alt="John Doe" class="card-img-top" data-staff-image>
            <div class="card-body">
                <h5 class="card-title mb-0" data-staff-name>John Doe</h5>
            </div>
        </div>
    </div>
    <div class="col-2 mb-4">
        <div class="card">
            <img src="assets/images/john-doe.jpg" alt="John Doe" class="card-img-top" data-staff-image>
            <div class="card-body">
                <h5 class="card-title mb-0" data-staff-name>John Doe</h5>
            </div>
        </div>
    </div>
    <div class="col-2 mb-4">
        <div class="card">
            <img src="assets/images/john-doe.jpg" alt="John Doe" class="card-img-top" data-staff-image>
            <div class="card-body">
                <h5 class="card-title mb-0" data-staff-name>John Doe</h5>
            </div>
        </div>
    </div>
    <div class="col-2 mb-4">
        <div class="card">
            <img src="assets/images/john-doe.jpg" alt="John Doe" class="card-img-top" data-staff-image>
            <div class="card-body">
                <h5 class="card-title mb-0" data-staff-name>John Doe</h5>
            </div>
        </div>
    </div>
    <div class="col-2 mb-4">
        <div class="card">
            <img src="assets/images/john-doe.jpg" alt="John Doe" class="card-img-top" data-staff-image>
            <div class="card-body">
                <h5 class="card-title mb-0" data-staff-name>John Doe</h5>
            </div>
        </div>
    </div>
    <div class="col-2 mb-4">
        <div class="card">
            <img src="assets/images/john-doe.jpg" alt="John Doe" class="card-img-top" data-staff-image>
            <div class="card-body">
                <h5 class="card-title mb-0" data-staff-name>John Doe</h5>
            </div>
        </div>
    </div>
    <div class="col-2 mb-4">
        <div class="card">
            <img src="assets/images/john-doe.jpg" alt="John Doe" class="card-img-top" data-staff-image>
            <div class="card-body">
                <h5 class="card-title mb-0" data-staff-name>John Doe</h5>
            </div>
        </div>
    </div>
    <div class="col-2 mb-4">
        <div class="card">
            <img src="assets/images/john-doe.jpg" alt="John Doe" class="card-img-top" data-staff-image>
            <div class="card-body">
                <h5 class="card-title mb-0" data-staff-name>John Doe</h5>
            </div>
        </div>
    </div>
    <div class="col-2 mb-4">
        <div class="card">
            <img src="assets/images/john-doe.jpg" alt="John Doe" class="card-img-top" data-staff-image>
            <div class="card-body">
                <h5 class="card-title mb-0" data-staff-name>John Doe</h5>
            </div>
        </div>
    </div>
    <div class="col-2 mb-4">
        <div class="card">
            <img src="assets/images/john-doe.jpg" alt="John Doe" class="card-img-top" data-staff-image>
            <div class="card-body">
                <h5 class="card-title mb-0" data-staff-name>John Doe</h5>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

</div>


</body>
</html>
